python-dotenv
random2
openai
gtts
moviepy
av
certifi
charset-normalizer
coloredlogs
ctranslate2
faster-whisper
ffmpeg-python
filelock
flatbuffers
fsspec
future
huggingface-hub
humanfriendly
idna
mpmath
numpy
onnxruntime
packaging
protobuf
PyYAML
requests
sympy
tokenizers
tqdm
typing_extensions
urllib3
beautifulsoup4
cachetools
certifi
chardet
click
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
importlib-metadata
Jinja2
joblib
livereload
lunr
Markdown
MarkupSafe
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocstrings
nltk
oauth2client
protobuf
pyasn1
pyasn1-modules
Pygments
pymdown-extensions
pytkdocs
pytz
regex
requests
rsa
six
soupsieve
tornado
tqdm
typing-extensions
uritemplate
urllib3
zipp
opencv-python 
tqdm 
moviepy 
customtkinter
pillar-youtube-upload
elevenlabs==0.2.27
